footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  .credits a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: #fff;
    font-weight: 700;
  }
  p {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.footer-info .flex-wrapper {
  display: flex;
  display: -webkit-flex;
  .credits {
    margin-left: auto;
  }
}

@media (max-width: 580px) {
  .footer-info .flex-wrapper {
    display: block;
  }
}
