@import 'ninja-forms';

input {
  border-radius: 5px;
  padding: 15px 20px;
  border: 0;
  margin-right: 10px;
}

.mc4wp-form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  label {
    opacity: 0;
  }
  .inline-field {
    margin: 0 10px;
  }
  input {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid #fff;
    &:focus {
      outline: none;
      border: 2px solid #666;
    }
  }
  input[type='submit'] {
    margin-top: 20px;
    background-color: #666666;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #fff;
    border-color: #666;
    font-family: 'Libre Baskerville', serif;
    transition: transform 150ms ease-in-out;
    &:hover {
      transform: translateY(-2px);
      -moz-transform: translateY(-2px) rotate(0.02deg);
      cursor: pointer;
      background-color: #888;
      border-color: #888;
    }
  }
}
