@import 'variables';

header {
  background-image: url(img/mountains-grayscale.jpg);
  height: 450px;
  height: 90vh;
  min-height: 400px;
  max-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: '';
    background-image: url(img/textured-fade.png);
    background-position: top;
    background-size: cover;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 140px;
  }
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
}

.header-main {
  position: absolute;
  top: 20px;
  z-index: 1;
  width: 100%;
}

.page-banner {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
  .padding-wrapper {
    flex-shrink: 0;
  }
  .banner-content {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    h1 {
      font-family: 'Alex Brush', serif;
      color: $light-blue;
      text-transform: none;
    }
    h2 {
      margin-top: 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

.subpage-header {
  height: 300px;
  height: 25vmax;
  min-height: 250px;
}

@media (max-width: 880px) {
  header {
    height: 70vh;
    padding-bottom: 40px;
  }
}

@media (max-width: 580px) {
  header {
    .page-banner .padding-wrapper {
      flex-shrink: 1;
    }
  }
}
