@import 'variables';

.introduction {
  position: relative;
}

.testimonial-image-block {
  min-height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  &::before {
    content: '';
    background-image: url(img/textured-fade.png);
    background-position: top;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 140px;
    transform: rotate(180deg);
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .4);
  }
  .testimonial {
    position: relative;
    z-index: 3;
    color: #fff;
    padding-left: 60px;
    transform: translateY(100%);
    &::before {
      content: '\f10d';
      font-family: FontAwesome;
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 0;
      color: $light-blue;
    }
  }
}

.services-section {
  padding: 40px 0 20px;
  position: relative;
  &::before {
    content: '';
    background-image: url(img/textured-fade.png);
    background-position: top;
    background-size: cover;
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    height: 140px;
  }
}

.services {
  display: block;
  padding: 60px 0;
}

.service {
  margin-bottom: 60px;
  display: flex;
  display: -webkit-flex;
}

.service-image {
  height: 300px;
  width: 400px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  margin-right: 40px;
  border-radius: 5px;
}

.service-content {
  padding: 20px;
  h3 {
    margin-top: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
}

.pricing {
  margin-bottom: 120px;
}

.price-cards {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 60px 0;
}

.price-card {
  width: 24%;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  &.featured {
    .price-card-header::before {
      content: 'Most Popular';
      position: absolute;
      top: 0;
      right: 0;
      font-size: .875em;
      padding: 0 10px;
      background-color: #333;
    }
    .price-card-header {
      background-color: $light-blue;
      color: #fff;
    }
  }
}

.price-card-header {
  padding: 20px;
  height: 160px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-color: #eee;
  position: relative;
  .price {
    font-size: 3em;
    font-weight: 700;
  }
}

.price-details {
  padding: 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  text-align: left;
  .time-length {
    font-weight: 700;
    font-size: 1.25em;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    &::before {
      content: url(img/clock.svg);
      margin-right: 5px;
      height: 22px;
    }
  }
  .price-description {
    color: #777;
    font-size: .875em;
  }
}

.full-page-cta {
  padding: 100px 0;
  background-color: #eee;
  text-align: center;
  .cta-text {
    margin-bottom: 30px;
    font-weight: 400;
  }
}

@media (max-width: 1140px) {
  .price-cards {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .price-card {
    width: 48%;
  }
}

@media (max-width: 980px) {
  .services {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .service {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    .service-image {
      width: 100%;
      margin-right: 0;
      min-height: 350px;
    }
  }
}

@media (max-width: 880px) {
  .introduction {
    margin-top: -80px;
  }
  .services-section {
    padding: 20px 0;
  }
}

@media (max-width: 780px) {
  .price-cards {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .price-card {
    width: 100%;
    margin: 20px 0;
    &:nth-of-type(2) {
      transform: scale(1);
    }
  }
  .price-card-header {
    height: auto;
    padding: 40px 0;
  }
  .price-details {
    height: auto;
  }
}

@media (max-width: 580px) {
  .service {
    margin: 20px 0;
    .service-image {
      min-height: 250px;
    }
  }
}

@supports (display: grid) {
  .testimonial-image-block .testimonial {
    transform: translateY(0);
  }
}
